{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}
   {% if category %}
{{ category.description|truncatewords:155 }}
   {% else %}
        Welcome to the cushion store where you can buy comfy and awesome cushions.
   {% endif %}
{% endblock %}
{% block title %}
   {% if category %}
{{ category.name }} - Perfect Cushion Store
   {% else %}
        See Our Cushion Collection - Perfect Cushion Store
   {% endif %}
{% endblock %}
{% block content %}
 
<div>
    <img src="{% static 'img/banner.jpg' %}" alt="Our Products Collection">
</div>
<br>
<div>
    <h1>Our Products Collection</h1>
    <p>Finding the perfect cushion for your room can instantly add to the levels of comfort and sense of style throughout your home.</p>
</div>
 
<div>
    <div>
        {% for product in products %}
        <div>
            <div>
                <a href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}"></a>
                <div>
                    <h4>{{product.name}}</h4>
                    <p>£{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}